# Root .gitignore
.env
*.log
nginx_config_backup/
momentaic-backend/.env
momentaic-backend/.env.production
momentaic-backend/.env.staging
momentaic front/.env
momentaic front/node_modules/
momentaic front/dist/
*.pem
*.key
firebase-adminsdk.json
*service_account.json
vps_check.sh
vps_patch.sh
*.crt
env.complete.production
momentaic-backend/app/core/service_account.json
