@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Base Styles */
body {
    background-color: #000;
    color: #fff;
    font-family: 'Inter', sans-serif;
}